.home-section-notification {
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 4px;
  border-radius: 8px;
  height: 44px;

  .home-section-notification__icon {
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .home-section-notification__title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .ui-loader {
    margin-left: 8px;
    color: var(--cucumber);
  }

  &.home-section-notification--warning {
    background-color: var(--egg-40);
    color: var(--chocolat);
  }

  &.home-section-notification--info {
    background-color: var(--white-cream-light);
    color: var(--blueberry);
  }
}
