.shopping-list-detail-header__wrapper {
  padding: 0 12px;
  margin-top: 48px;
  margin-bottom: 20px;
  width: 100%;
}

.shopping-list-detail-header__separator {
  margin: 16px 0 8px;
  border: 0.5px solid var(--white-cream);
  width: 100%;
}

.shopping-list-detail-header__actions-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.shopping-list-detail-header__product-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 12px;
}

.shopping-list-detail-header__product-info-wrapper--with-products {
  margin-left: 26px;
}

.shopping-list-detail-header__name {
  margin-bottom: 8px;
}

.shopping-list-detail-header__name::first-letter {
  text-transform: capitalize;
}

.shopping-list-detail-header__products-quantity {
  color: var(--smoked-70);
}

.shopping-list-detail-header__products-order-dropdown {
  display: flex;
  justify-content: end;
  margin-top: 9px;
}

.shopping-list-detail-header__products-order-wrapper {
  display: flex;
  align-items: baseline;
}

.shopping-list-detail-header__products-order-wrapper--disabled {
  color: var(--smoked-20);
}

.shopping-list-detail-header__products-order-title {
  text-transform: uppercase;
  margin-right: 4px;
}

.shopping-list-detail-header__wrapper .dropdown__content {
  z-index: 2;
}

.shopping-list-detail-header__products-order-dropdown
  .sorting-method__selector {
  color: unset;
}

.shopping-list-detail-header__products-order-dropdown .selector__text {
  font-size: 0.6875rem;
}

.shopping-list-detail-header__products-order-dropdown .sorting-method__option {
  font-size: 0.875rem;
}

.shopping-list-detail-header__products-order-wrapper button:disabled {
  cursor: default;
}

.shopping-list-detail-header__options-container {
  min-width: 170px;
  box-shadow: var(--shadow-hard);
  background-color: var(--white);
  position: absolute;
  right: -8px;
  top: 12px;
  padding: 0.5rem 0;
  border-radius: 8px;
}
