.chat-privacy-policy {
  margin-top: 15px;
  padding: 0 50px;
}

.chat-privacy-policy__disclaimer {
  padding: 8px 12px;
  background-color: var(--white-cream-light);
  color: var(--blueberry);
  border-radius: 8px;
  text-align: center;
}

.chat-privacy-policy__link {
  color: var(--blueberry);
  text-decoration: underline;
  margin-left: 4px;
}
